In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [5]:
from sklearn.datasets import load_boston

In [31]:
boston=load_boston()
data= pd.DataFrame(data=boston.data, columns=boston.feature_names)
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [17]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [18]:
data.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [20]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [21]:
# merged prices column with data frame

data['prices']=boston.target
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,prices
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [22]:
# Sagrigate "Prices" column and remaining colums in X and Y

x=data.drop(["prices"],axis=1)

y=data['prices']

In [23]:
# import library.class and function 

from sklearn.model_selection import train_test_split as tts

In [24]:
# convert into variables

x_train, x_test, y_train, y_test=tts(x, y, test_size=0.9)

In [25]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
197,0.04666,80.0,1.52,0.0,0.404,7.107,36.6,7.3090,2.0,329.0,12.6,354.31,8.61
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
269,0.09065,20.0,6.96,1.0,0.464,5.920,61.5,3.9175,3.0,223.0,18.6,391.34,13.65
54,0.01360,75.0,4.00,0.0,0.410,5.888,47.6,7.3197,3.0,469.0,21.1,396.90,14.80
490,0.20746,0.0,27.74,0.0,0.609,5.093,98.0,1.8226,4.0,711.0,20.1,318.43,29.68
363,4.22239,0.0,18.10,1.0,0.770,5.803,89.0,1.9047,24.0,666.0,20.2,353.04,14.64
151,1.49632,0.0,19.58,0.0,0.871,5.404,100.0,1.5916,5.0,403.0,14.7,341.60,13.28
183,0.10008,0.0,2.46,0.0,0.488,6.563,95.6,2.8470,3.0,193.0,17.8,396.90,5.68
478,10.23300,0.0,18.10,0.0,0.614,6.185,96.7,2.1705,24.0,666.0,20.2,379.70,18.03
109,0.26363,0.0,8.56,0.0,0.520,6.229,91.2,2.5451,5.0,384.0,20.9,391.23,15.55
51,0.04337,21.0,5.64,0.0,0.439,6.115,63.0,6.8147,4.0,243.0,16.8,393.97,9.43
465,3.16360,0.0,18.10,0.0,0.655,5.759,48.2,3.0665,24.0,666.0,20.2,334.40,14.13
194,0.01439,60.0,2.93,0.0,0.401,6.604,18.8,6.2196,1.0,265.0,15.6,376.70,4.38
43,0.15936,0.0,6.91,0.0,0.448,6.211,6.5,5.7209,3.0,233.0,17.9,394.46,7.44
493,0.17331,0.0,9.69,0.0,0.585,5.707,54.0,2.3817,6.0,391.0,19.2,396.90,12.01
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
19,0.72580,0.0,8.14,0.0,0.538,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28
224,0.31533,0.0,6.20,0.0,0.504,8.266,78.3,2.8944,8.0,307.0,17.4,385.05,4.14
293,0.08265,0.0,13.92,0.0,0.437,6.127,18.4,5.5027,4.0,289.0,16.0,396.90,8.58
171,2.31390,0.0,19.58,0.0,0.605,5.880,97.3,2.3887,5.0,403.0,14.7,348.13,12.03
184,0.08308,0.0,2.46,0.0,0.488,5.604,89.8,2.9879,3.0,193.0,17.8,391.00,13.98
105,0.13262,0.0,8.56,0.0,0.520,5.851,96.7,2.1069,5.0,384.0,20.9,394.05,16.47
53,0.04981,21.0,5.64,0.0,0.439,5.998,21.4,6.8147,4.0,243.0,16.8,396.90,8.43
156,2.44668,0.0,19.58,0.0,0.871,5.272,94.0,1.7364,5.0,403.0,14.7,88.63,16.14
223,0.61470,0.0,6.20,0.0,0.507,6.618,80.8,3.2721,8.0,307.0,17.4,396.90,7.60
91,0.03932,0.0,3.41,0.0,0.489,6.405,73.9,3.0921,2.0,270.0,17.8,393.55,8.20
189,0.08370,45.0,3.44,0.0,0.437,7.185,38.9,4.5667,5.0,398.0,15.2,396.90,5.39
431,10.06230,0.0,18.10,0.0,0.584,6.833,94.3,2.0882,24.0,666.0,20.2,81.33,19.69
115,0.17134,0.0,10.01,0.0,0.547,5.928,88.2,2.4631,6.0,432.0,17.8,344.91,15.76
222,0.62356,0.0,6.20,1.0,0.507,6.879,77.7,3.2721,8.0,307.0,17.4,390.39,9.93
270,0.29916,20.0,6.96,0.0,0.464,5.856,42.1,4.4290,3.0,223.0,18.6,388.65,13.00
356,8.98296,0.0,18.10,1.0,0.770,6.212,97.4,2.1222,24.0,666.0,20.2,377.73,17.60
122,0.09299,0.0,25.65,0.0,0.581,5.961,92.9,2.0869,2.0,188.0,19.1,378.09,17.93
412,18.81100,0.0,18.10,0.0,0.597,4.628,100.0,1.5539,24.0,666.0,20.2,28.79,34.37
216,0.04560,0.0,13.89,1.0,0.550,5.888,56.0,3.1121,5.0,276.0,16.4,392.80,13.51
133,0.32982,0.0,21.89,0.0,0.624,5.822,95.4,2.4699,4.0,437.0,21.2,388.69,15.03
217,0.07013,0.0,13.89,0.0,0.550,6.642,85.1,3.4211,5.0,276.0,16.4,392.78,9.69
371,9.23230,0.0,18.10,0.0,0.631,6.216,100.0,1.1691,24.0,666.0,20.2,366.15,9.53
369,5.66998,0.0,18.10,1.0,0.631,6.683,96.8,1.3567,24.0,666.0,20.2,375.33,3.73
325,0.19186,0.0,7.38,0.0,0.493,6.431,14.7,5.4159,5.0,287.0,19.6,393.68,5.08
333,0.05083,0.0,5.19,0.0,0.515,6.316,38.1,6.4584,5.0,224.0,20.2,389.71,5.68
353,0.01709,90.0,2.02,0.0,0.410,6.728,36.1,12.1265,5.0,187.0,17.0,384.46,4.50
112,0.12329,0.0,10.01,0.0,0.547,5.913,92.9,2.3534,6.0,432.0,17.8,394.95,16.21
396,5.87205,0.0,18.10,0.0,0.693,6.405,96.0,1.6768,24.0,666.0,20.2,396.90,19.37
357,3.84970,0.0,18.10,1.0,0.770,6.395,91.0,2.5052,24.0,666.0,20.2,391.34,13.27
322,0.35114,0.0,7.38,0.0,0.493,6.041,49.9,4.7211,5.0,287.0,19.6,396.90,7.70
262,0.52014,20.0,3.97,0.0,0.647,8.398,91.5,2.2885,5.0,264.0,13.0,386.86,5.91
58,0.15445,25.0,5.13,0.0,0.453,6.145,29.2,7.8148,8.0,284.0,19.7,390.68,6.86
195,0.01381,80.0,0.46,0.0,0.422,7.875,32.0,5.6484,4.0,255.0,14.4,394.23,2.97
378,23.64820,0.0,18.10,0.0,0.671,6.380,96.2,1.3861,24.0,666.0,20.2,396.90,23.69

In [26]:
from sklearn.linear_model import LinearRegression
LR= LinearRegression()

In [27]:
LR.fit(x_train, y_train)

LinearRegression()

In [28]:
y_pred=LR.predict(x_test)
y_pred

array([23.96695786, 27.32764652, 23.59069333, 14.38306214, 40.47100122,
       22.62181773, 25.72651964, 21.04945668, 30.07084464, 26.67322068,
       22.6271916 ,  5.76374259, 30.37708703, 20.69956544,  9.46170486,
       19.57973536,  4.98068697, 23.46889039, 23.67919909, 16.01244053,
       22.79184367, 38.20447489, 18.97822579, 18.82788027, 15.54153889,
       39.2101596 , 16.17645313, 20.22373859, 25.80673383, 19.3846326 ,
       36.86528933, 27.78187383, 23.63927932, 33.13180889, 18.19234098,
       20.09822656, 29.66151415, 21.67754745, 26.02344237,  1.30502251,
       25.65776468, 16.70982104, 36.72248374, 14.5707044 , 20.88554335,
       22.80425766, 11.2270486 , 23.33714019,  0.61330519, 21.74787015,
       12.90081875, 31.32733798, 22.01285803, 24.93785896, 26.68329675,
       34.58323269, 28.36990004, 11.80272065, 21.67466634, 19.8311387 ,
       34.96671334, 16.2608041 , 31.12678214, 22.20889175, 23.11187976,
       39.67199303, 16.0610492 , 24.55358668, 32.63730856, 14.32031632,
       26.90417219, 37.60480766, 17.77468228, 39.0447709 , 23.04342919,
       24.99054299,  5.29926708, 26.24213883, 13.05505579, 24.72233881,
       33.52020297, 32.47728091, 13.32667195, 17.74267323,  8.68511107,
       18.59925304, 34.95944025, 22.85492667, 23.61639454, 17.19705581,
       16.83659943, 14.5968368 , 21.22359574, 38.47722627, 23.30009586,
       25.29974865, 34.02399232, 30.95218873, 21.76189911, 28.55193357,
       29.90341042, 36.85021527,  4.95914306, 23.79460781, 24.68834393,
       18.31571894, 20.21836218, 39.16025063,  6.50984438, 19.50249184,
       27.90427903, 27.85007782, 14.66452346, 31.5939449 ,  4.3368071 ,
        5.25707838, 31.16326559, 28.96318874, 21.04191895, 22.10808503,
       20.50269414, 14.73610596, 19.09168532, 39.0921352 , 22.47880861,
       37.70834685, 24.84065504, 21.70987126, 31.00625078, 24.74643651,
       29.43039495, 15.5836375 , 15.76455256, 31.99604745, 30.24844727,
       19.19737162,  5.73844042, 19.6728348 , 34.83599441, 23.52885454,
       24.30636392, 23.1775103 , 20.91617302, 17.23885098, 29.44196902,
       21.06096773, -0.06706068, 25.03388056, 30.70763206, 17.56124929,
       40.616149  , 11.38085433, 20.86545465, 32.07044461, 13.60725743,
       29.82690501, 28.95155539, 22.23170539, 19.04538439, 28.78207543,
       35.28214523, 37.54116213,  0.39499355, 17.72905758, 22.26327604,
       32.21078861, 13.00485007, 17.61244869, 39.18113477, 22.48496285,
       44.6162766 , 24.26056038, 23.4986973 , 20.43136539, 25.20941967,
       33.95576093, 47.91556618, 15.51850048, 12.49222768, 34.62476473,
       27.55427538, 25.49633651, 37.1303773 , 18.40924127, 22.65725575,
       16.0691059 , 39.97362591, 19.22062203, 27.68572221, 23.34148829,
       19.62088917, 17.61632741, 36.14693709, 20.52216801, 22.66634111,
       28.6398784 , 21.34625065, 26.96685615, 15.33986469, 17.10926677,
       28.50446966, 19.81640557, 21.30021477, 21.50551584, 42.89433649,
       21.53731044, 24.47353618, 20.46743851, 18.89635896, 15.13085025,
       17.40651359, 25.8205232 , 20.17956325, 11.91127628, 34.87418623,
       21.83979037, 25.02168948, 23.57868419, 29.07727426, 19.31970967,
       37.5832304 , 31.33798814, 41.0341778 , 18.58400558, 22.84410656,
       22.01233911, 33.77661167, 16.38806338, 27.94236578, 40.22322527,
       32.55395235, 20.77179334, 24.30776886, 19.88779327, 22.39972126,
       19.81792819, 21.3398637 , 23.40440408, 18.01161243, 20.41723668,
       24.96349084, 22.53864772, 20.66252341, 23.46291029, 24.38191901,
       19.71184724, 18.42916572, 30.13163262, 34.85981008, 14.10905155,
       27.19911864,  9.59130667, 36.89730359, 36.04092956,  8.07751901,
       25.00731244, 17.29612584, 39.49966647, 22.38696792, 27.1552676 ,
       12.86055728, 42.54914098, 20.61011997, 21.37878907, 21.3892213 ,
       34.23137225, 23.27000328, 20.35674538, 26.81672746, -0.82278781,
       34.0039343 , 18.74093004, 33.30496543, 16.4994239 , 16.38301663,
       23.64110354, 29.61570071, 27.01831943, 19.74135064, 18.16966519,
       30.76047759, 13.06435148, 25.87488804, 35.38835031, 19.25112978,
       41.37821747, 25.12331001, 31.9035244 , 19.61482116, 23.95897124,
       34.54468094, 23.85723302, 28.22175363, 17.39388775, 30.16589491,
       20.30770489, 25.85518095, 26.53605513, 34.00560666, 37.17229996,
       30.42890931, 16.92056893, 19.53210284, 14.54256274, 46.76503035,
       27.38301836, 34.85792715, 16.87620741, 26.142471  , 14.41036711,
       20.27425159,  7.66128121, 28.65867474, 21.69057343, 14.10967361,
       18.13453115, 34.32561142, 20.44560986, 33.52001887, 16.11081359,
       20.90723523, 13.06191071, 36.9932029 , 33.39757776, 11.81416988,
       31.2622778 , 28.46342237, 31.7682627 , 20.02376753, 29.98577848,
       18.39443778, 26.85992703, 18.75795189, 14.38450648, 40.65432884,
       25.899063  , 22.37991638, 20.65982721, 23.42013595, 35.68320345,
       29.29734446, 21.32687628,  7.86646281, 19.60347549, 19.21292667,
       36.14529808, 18.85804172, 34.18494157, 24.24493391, 13.96576548,
       15.65326108, 30.70488842, 37.97447224, 21.97458029, 23.59170569,
       16.487738  ,  2.80432161, 17.55857715,  7.30346439, 16.20062854,
       29.20932749, 16.71421905, 28.06199203, 24.5250453 , 19.99274711,
        8.74607591, 32.69718687, 22.82532938, 14.09734306, 23.41516332,
       16.28915123, 23.79929809, 17.73260791, 21.40797545, 20.09202366,
       30.89691274, 12.09622365, 27.97980921, 21.4901934 , 14.24197192,
       35.16617076, 39.05390117, 20.55973512, 22.86457532, 15.6612507 ,
       22.84079159, 24.9123188 ,  1.846985  , 27.30997799, 32.65702624,
       21.16925778, 25.08123425, 20.69873605, 25.63249402, 33.60951126,
       21.16845455, 20.67875255, 16.0419055 , 20.53484202, 34.39563538,
       17.6866589 , 29.46742029, 29.886236  , 23.19433154, 16.48128812,
       20.57564767, 30.59946671, 16.81119547, 25.0781536 , 25.95251282,
       29.73964203, 29.94211617, 31.7967442 , 40.49323598, 21.57939115,
       12.28675583, 10.30873468, 22.49481153, 21.96658275,  4.018475  ,
       23.16684291, 24.16526265, 19.75794672, 22.43049375, 31.21324951,
       22.03409561, 22.46072708, 25.98246363, 33.18487354, 21.68848558,
       25.82575326, 34.21799696, 37.82464321, 32.27188632, 27.60943718,
       39.37721595, 14.12417114, 20.03282627, 26.84661763, 21.24242279,
       28.34190405, 19.93044348, 27.20409038, 27.74710729, 22.15158469,
       21.7058948 , 22.77293646, 27.82562968, 16.55778218, 32.88574576,
       28.63683884, 10.53872522, 26.95865613, 18.46193337, 21.81713107,
       25.65604186])

In [29]:
LR.score(x_test, y_pred)

1.0